@{
    ViewData["Title"] = "Privacy Policy";
}

<img src="/images/logotrans.png" class="logo">
<h1>@ViewData["Title"]</h1>

<p>Information Handling and Responsibilities for Hospital Staff.</p>

This e-billing application is primarily used by authorized staff members of Melomed Hospital Holdings to streamline the billing process for pharmacy stock used by patients.
<br /><br />
<b>When using the App, staff members may access and process the following types of information:</b>
<br />
<ol>
    <li>Staff will be able to view patient names, patient identification numbers, medical record numbers, and other relevant identifiers to accurately associate scanned items with the correct patient account.</li>
    <li>Staff will see the information derived from the scanned barcodes, including the name, description, and potentially the cost of the pharmacy stock item.</li>
    <li>The system will record details of each scanning and billing transaction, including the staff member who performed the action, the date and time, the items scanned, and the patient account billed.</li>
</ol>

<br />
<b>Authorized Melomed staff will use the App and the associated information for the following purposes:</b>
<ol>
    <li>To correctly identify and bill patients for the pharmacy stock they have used.</li>
    <li>While the App's primary function is billing, the data captured may contribute to inventory tracking and management processes within the pharmacy.</li>
        <li>To maintain a clear and auditable record of all billing transactions.</li>
    <li>To assist in resolving any billing discrepancies or issues.</li>
    <li>Anonymized and aggregated data may be used to analyze system performance and identify areas for improvement.</li>
    <li>Staff are expected to handle all patient and transaction data in accordance with Melomed's internal policies and procedures regarding data privacy and security.</li>
</ol>
<br />
<b>As users of this e-billing application, Melomed staff members are responsible for:</b>
<ol>
    <li>Ensuring that only authorized personnel access the App and the patient information contained within.</li>
    <li>Taking reasonable steps to ensure the accuracy of the information captured during the scanning and billing process.</li>
    <li>Maintaining the confidentiality of all patient information and transaction details accessed through the App.</li>
    <li>Adhering to Melomed's data privacy and security policies and procedures.</li>
    <li>Promptly reporting any suspected or actual data breaches or security incidents to the appropriate authorities within Melomed.</li>
</ol>
Melomed Hospital Holdings is committed to providing staff with the necessary training and resources to ensure the proper and secure handling of patient data within the e-billing application. 
<br />Any misuse or unauthorized disclosure of patient information may result in disciplinary action in accordance with Melomed's policies.
